/* .container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
} */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: 0em;
}
.innerText {
  margin-left: 10em;
}

@media only screen and (max-width: 768px) {
  .innerText {
    margin-left: 5em;
  }
}
